<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDarkContent</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Track Your Meditation Progress inside Apple Health App</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Track Your Meditation Progress</string>
</dict>
</plist>
